body{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    left: 0;
    right: 0;
}

.contact-container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    gap: 2px;
    padding: 0 30px 0 30px;
}


.contact-container a{
    text-decoration: none;
    color: white;
    text-align: center;

}

.left-section{
    display: flex;
    justify-content: flex-start;
    gap: 20px;

@media (max-width: 768px) {
    margin-left: 10px;
    font-size: 14px;
}
}


.right-section{
    display: flex;
    gap: 15px;
    font-size: larger;

@media (max-width: 768px) {
    display: none;
}
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0 15px;
    height: 100px;
}


.kglobal{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   display: flex;
   font-family: "Poppins", sans-serif;
   line-height: 1.1;
   white-space: nowrap;
   width: 150px;
}

.kglobal-main{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(130, 26, 228, 0.651);
}

.kglobal-sub{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 4px;
    color: rgba(89, 42, 134, 0.658);
    margin-top: -2px;
    margin-left: 40px;
}

.search-container{
    position: relative;
    flex: 1;
}

.search-container input{
    width: 100%;
    padding: 10px 10px 10px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 900;
    font-style: italic;
    border-color: rgba(89, 48, 128, 0.418);
}

.search-container input:focus{
    outline: none;
    border: 1px solid black;
}


.search-container i{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(106, 32, 175, 0.918);
    font-size: 16px;
}

.cart{
   white-space: nowrap;
   margin-left: 10px;
   box-shadow: 3px 3px 4px #eee,
               -4px -4px 4px #eee; 
   padding: 10px 30px 10px 30px;  
   font-size: 18px;
   font-weight: 400;
   color: rgba(117, 50, 179, 0.685);
}

.cart span{
    display: flex;
    gap: 3px;
    align-items: center;
}

.profile{
   white-space: nowrap;
   margin-left: 10px;
   box-shadow: 3px 3px 4px #eee,
               -4px -4px 4px #eee; 
   padding: 7px;  
}

.profile a{
   color: rgba(117, 50, 179, 0.685);
   font-size: 20px;
}

.header3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-category{
   background: black;
   white-space: nowrap;
   margin-left: 10px;
   box-shadow: 3px 3px 4px #eee,
               -4px -4px 4px #eee; 
   padding: 5px 5px 5px 5px;  
   font-size: 18px;
   font-weight: 400;
   color: white;
}

.nav-container{
   display: flex;
   flex: 1;
}

.nav-container ul{
    list-style: none;
}

.nav-container ul a{
    text-decoration: none;
}